(function(){

  // Imagine we are a store manager
  // well atleast in code form
  const storeManager = {

    // request inventory
    requestInventoryList( section ){
      return `Retrieved items from ${section}`;
    },

    // buy inventory
    buyInventory( item, section ){
      return `You have successfully purchased ${item} for ${section}`;
    },

    // restock shelves
    restockShelves( item, section ){
      return `You have successfully restocked ${item} in (${section})`;
    }

  };

})();
